


body	{
	background: #fff;
	color: #393939;
	font-family: Arial;
	font-size: 0px;
	line-height: 0;
	}
	
	
	#loginbox	{
	background: url(../images/login/loginbox_bg.png)repeat-x;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 80px;
	position: relative;
	width: 508px;
	}
	
	.login-inp	{
	background: #FFF;
	-moz-border-radius: 5px 5px; border:1px solid gray;
	color: #333333;
	font-size: 16px;
	padding: 10px;
	width: 285px;
	}
	
	#login-holder	{
	margin: 100px auto 0 auto;
	width: 508px;
	}

#login-bg	{
	background: url(../images/login/login_bg.jpg) no-repeat top center;
	}
	
	
	#login-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
	}
#login-inner td	{
	padding: 0 0 6px 0;
	}
	
	#login-inner	{
	color: #fff;
	font-family: Arial;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 420px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}